html {
    height: 100%
}

body {
    background-color: indianred;
    padding: 0;
    margin: 0;
    height: 100%;
}

#balk{
    background-color: white;
    width: 80%;
    height: 15%;
}

#container {
    background-color: green;
    width: 80%;
    height: 75%;
    display: flex;
}

#menu {
    background-color: purple;
    width: 20%;
    height: 100%;
}

#texten {
    background-color: peru;
    width: 55%;
    height: 100%;
}

#plaatjes {
    background-color:  pink;
    width: 25%;
    height: 100%;
}
